html, body {
 font-family: calibri;
}
.mytables {
 border-collapse: collapse;
}
.mytables td, .mytables th {
 border: 1px solid #aaa;
 padding: 0.5vh;
}

canvas:hover {
  cursor: crosshair;
}
.mytables td.mytables-container {
 padding: 0;
}


#mycanvas {

}
#mycanvas:hover {
 cursor: crosshair;
}
.section {
 vertical-align: top;

 padding: 1vh;
 border: 1px solid #aaa;
}
.sub-section {
 display: inline-block;
 vertical-align: top;
 margin: 1vh;
 padding: 1vh;
 border: 1px solid #aaa;
}
.sub-section3 {
 display: inline-block;
 vertical-align: top;
 margin: 1vh;
 border: 1px solid #aaa;
}
.myinputs {
 margin: 0.5vh;
}
.inline-code {
 font-family: monospace;
 background-color: #eee;
 padding: 0.25vh 0.5vh;
}
.section p {

}

.mytables td p {
  text-align: center;
}
